<% if resource.errors.any? %>
  <section class='flash--alert'>
    <% resource.errors.full_messages.each do |message| %>
        <%= inline_svg_tag 'error.svg', class: 'flash--alert-icon' %>
        <%= message %>.<br />
    <% end %>
  </section>
<% end %>
