<section class='formapp-footer'>
<section class='formapp-content'><%= I18n.t(:copyright, scope: [:footer])%></section>
<section class='formapp-content'><%= link_to I18n.t(:privacy, scope: [:footer]), root_path %> | <%= link_to I18n.t(:terms, scope: [:footer]), root_path %></section>
</section>
