<section class='formapp-footer'>
  <section class='formapp-footer__container'>
    <section class='formapp-footer__content'>
      <article class='formapp-footer__content--lower'><%= link_to t(:copyright, scope: [:footer]) + " " + Date.current.year.to_s +  " " + t(:ministry_of_velocity, scope: [:footer]), 'http://www.ministryofvelocity.com', class: 'formapp-footer__content--links' %></article>
    </section>
  </section>
</section>
