<section class= 'formapp-header'>
  <section class= 'formapp-header__container'>
    <p class= 'formapp-header__title'>
      <%= link_to 'FormApp', root_path, class: 'formapp-header__link', title: t(:title, scope: :header) %>
    </p>
  </section>
</section>
